trunk/turbulence/tools/tbc-mod-gen/tbc-mod-gen.dtd

<!ELEMENT mod-def (name, description, source-code)>

<!ATTLIST mod-def sources CDATA #IMPLIED>

<!ELEMENT name (#PCDATA)>

<!ELEMENT description (#PCDATA)>

<!ELEMENT source-code (additional-content?, init, close, reconf)>

<!ELEMENT additional-content (#PCDATA)>

<!ELEMENT init (#PCDATA)>

<!ELEMENT close (#PCDATA)>

<!ELEMENT reconf (#PCDATA)>
