modules/mod-sasl/mysql.sasl.dtd

<!-- <sasl-auth-db> -->
<!ELEMENT sasl-auth-db (connection-settings, get-password)>

<!-- <connection-settings> -->
<!ELEMENT connection-settings EMPTY>
<!ATTLIST connection-settings 
	  user            CDATA   #REQUIRED
	  password        CDATA   #REQUIRED
	  database        CDATA   #REQUIRED
	  host            CDATA   #REQUIRED
	  port            CDATA   #IMPLIED>

<!-- <get-password> -->
<!ELEMENT get-password EMPTY>
<!ATTLIST get-password 
	  query           CDATA   #REQUIRED>



