trunk/turbulence/data/mod-turbulence.dtd

<!-- DTD to validate modules installed for turbulence -->
<!ELEMENT mod-turbulence (provides*)>
<!ATTLIST mod-turbulence location CDATA #REQUIRED>

<!-- list of profiles that provides this module -->
<!ELEMENT provides (profile*)>

<!-- list of profiles provided by a module -->
<!ELEMENT profile EMPTY>
<!ATTLIST profile value CDATA #REQUIRED>

